
.container{
    margin:50px auto;
    width: 300px;
    height: 500px;
    background-color: black;
    border-radius:  20px;
    color: white;
    padding:18px;
    display:flex;
    flex-direction: column;

}
.r0{
    display: flex;
    height:100px;
    align-items: center;
    justify-content: center;
}
.text{
    font-size:150%;
    width: 250px;
    height:60px;
    
}
.item{
    width:60px;
    height:60px;
    border-radius: 100%;
    background-color:gray;
    text-align: center;
    border:4px;
    font-size:150%;

}
.r1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px;
}
.r2{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px;
    
}
.r3{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px;
}
.r4{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:10px;

}
.r5{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.equal{
    width:250px;
    height:60px;
    border-radius: 20px;
    background-color: orange;
    text-align: center;
    border-color: gray;
    border:4px;
    font-size:150%;
}
